**/*~
**/*.pyc
__init__.py
**/Pdfdata
**/output
**/tmp.sh
**/br.sm1
**/br.sm2
**/ffwarn.dat
**/input.DAT
**/process.DAT
**/*.old.*
**/*.tar
**/*.tar.gz
**/*.sub
**/*.out
**/*.o
**/*.a
**/*.so
**/*.d
**/*.pcm
Submitter/**/getKDConstant*.c
Submitter/**/make*.c
Submitter/**/plot*.c
Submitter/**/*_one.c
Submitter/**/*_copy.c
Submitter/*.log
Submitter/*.txt
Submitter/test/Logs
Submitter/test/*.pdf
Submitter/test/*.png
Submitter/test/*.eps
Submitter/test/*.root
Submitter/test/*.txt
Submitter/test/*.log
Submitter/test/tmpcheck
